/*{
    padding:50px;
    margin:0px 50px 0px 50px;
 }
*/
 body{
    display:block;
    background-image: url('plain-lilac-background.jpg');
    margin-top:0px;
    padding:0px 65px 0px 65px;
   
 }

 .navbar{
     margin:0;
 }
.center{
        margin-top:0px;
        background-color:#7a24c0;
        /*padding:24px 18px 34px 23px;*/
        border-radius:105px;
        margin-bottom:0px;
        padding:50px;
        align-self: center;
    
    }
.center p{
    text-align:center;
    padding:50px;
    color:rgb(187, 182, 164);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    margin:0;

}
h2{
    left:460px;
    top:0px;
    margin-top:0px;
    margin-bottom:45px;
    font-size: 75px;
    color:rgb(88, 66, 109);
    text-shadow:aqua;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-display:inherit;
    display:block;
}

.btn{
    display:inline-block;
    align-items: center;
    margin-left:300px;    
    border-radius:25px;
    background-color:rgb(94, 3, 97);
    padding:18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:32px;
    margin-right:14px;
    cursor:pointer;
    font-size:23px;
}
.btn:hover{
    background-color:rgb(194, 115, 115);
}
#btn1{
    color:cornsilk;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
}
#btn2{
    margin-left:16px;
    margin-right:25px;
    color:cornsilk;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
}


.left{
    /*border: 3px solid brown;*/
    display:flex;
    position:sticky;
    left:0px;
    font-family:'Kirang Haerang', 'cursive';
    font-size: 25px;
    color:rgb(122, 40, 10);
    margin: 0;
    width: 17%;
    padding-left:0px;
 

 }

 .right{
     padding:0px 200px 20px 250px;
 }