body{
    display:block;
    background-image: url('plain-beige-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:0px;
    padding:0px 90px 20px 90px;
   
 }
.left{
    padding-left: 0px;
}
 .left h1{
    /*border: 3px solid brown;*/
    display:inline-block;
    position:sticky;
    left:10px;
    font-family:'Kirang Haerang', 'cursive';
    font-size: 50px;
    color:rgb(122, 40, 10);
    margin: auto;
    width: 17%;
    padding-left:0px;
 }
 .navbar{
     margin:0;
 }
.container{
        margin-top:50px;
        background-color:#da7523;
        padding:90px;
        border-radius:0px;
        margin-bottom:0px;
        padding:65px 65px 20px 65px;
        align-self: center;
    
    }
.container p{
    text-align:center;
    padding:30px;
    color:rgb(187, 182, 164);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    margin:0;

}
h2,h1{
    left:460px;
    top:0px;
    margin-top:0px;
    margin-bottom:45px;
    font-size: 55px;
    color:rgb(88, 66, 109);
    text-shadow:aqua;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-display:inherit;
    display:block;
}
.btn{
    display:inline-block;
    align-items: center;
    margin-left:300px;    
    border-radius:25px;
    background-color:rgb(240, 188, 92);
    padding:18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:32px;
    margin-right:14px;
    cursor:pointer;
    font-size:23px;
}
.btn:hover{
    background-color:rgb(143, 94, 54);
}
.btn:hover, 
.btn.active{
    background-color:rgb(165, 98, 73);
    color:white;
}
#btn1{
    color:cornsilk;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
}
#btn2{
    margin-left:16px;
    margin-right:25px;
    color:cornsilk;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
}
.right{
    padding:0px 200px 20px 250px;
}