/*{
   padding-left:50px;
   margin:0;
}
*/
body{
    display:block;
    width:80%;
    background-image:url('new2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
}

.left{
    /*border: 3px solid brown;*/
    display:inline-block;
    position:sticky;
    left:10px;
    font-family:'Kirang Haerang', 'cursive';
    font-size: 25px;
    color:rgb(122, 40, 10);
    margin: auto;
    width: 17%;
    padding:0px;
 
     
 }

 .mid{

    /*border: 3px solid blue;*/
    display:block;
    position:fixed;
    left:1050px;
    top:20px;
    margin: auto;
    width:700px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(196, 68, 36);
    font-style:normal;
    font-weight:bolder;
    font-size:20px;
    
    }
#home{
        /*border:3px solid rgb(206, 100, 100);*/
        display:inline-block;
        position:absolute;
        right:419px;
        top:266px;
        border-radius:13px;
        justify-content:center;
        align-items:center;
        text-align: center;
        padding-left:255px;
        font-style:oblique;
        
       
       }
#home img{
  padding-top:10px;
}       
#home h2
{
      font-size:45px;
      letter-spacing: 3px;
      color: rgb(117, 27, 11) ;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#home h4
{
  margin:  30px 0 20px 0;
  font-size:30px;
  font-weight: 700;
  color: rgb(117, 27, 11);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar li{
    
    list-style:none;
    display:inline-block;
    margin:10px auto;
    padding-right: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar li a{
    text-decoration:none;
    display:inline-block;
    color:rgb(94, 30, 5);
    padding:7px;
    border-radius: 14px;
}
.navbar li a:hover, 
.navbar li a.active{
    background-color:rgb(165, 98, 73);
    color:white;
}

.container{
  margin-top:500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* grid-column-gap: 7rem;
  grid-row-gap: 1rem; */
  grid-gap: 1rem;
  

}
.box{
  border: 2px solid black;
  background-color: rgb(228, 188, 228);
  padding: 23px;
}